<strong>Name: </strong> {{user ? user.name : 'NAN'}}<br>
<strong #wrapper>Id: </strong> {{user ? user.id : 'NAN'}}<br>
<button mat-raised-button (click)="updateUser.emit()">Update user</button>
<br>
<br>

<ng-template [ngTemplateOutlet]="paneDirective.templateRef"
             [ngTemplateOutletContext]="{$implicit: templateUser, user: templateUser, message:'Welcome to our site'}"></ng-template>
<ng-content select="header"></ng-content>
<ng-content select="footer"></ng-content>

<div>pane: {{content?.id}}</div>
