.blue {
  background-color: lightblue;
}

.toggle {
  background-color: yellow
}

.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
  position: absolute;
}

.highlight {
  color:blue;
  display: block;
}

.box {
  border: 1px solid red;
}
